.texts {
}
#overview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#overview > article {
  width: 60%;
  margin: 0 auto;
}
#overview > aside {
  width: 30%;
  margin: 0 auto;
}

.overview__text {
  font-size: 16px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  #overview > * {
    width: 100%;
  }
}
