/* @tailwind base; */

.flex {
  display: flex
}

.flex-wrap {
  flex-wrap: wrap
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-github {
  --tw-text-opacity: 1;
  color: rgb(120 149 178 / var(--tw-text-opacity))
}
